{% extends "includes/base.html" %}

{% block content %}
{% load static %}
<br/><br/>
<img src="{% static 'imgs/xman.png' %}" alt="" class="" style="height: 200px; width:200px; align-items:center;
display: block; margin-left: auto; margin-right: auto;">

<div class="container">
    <div class="pt-5">
        <div class="row">
            <div class="col-md-12 pt-4"></div>
        </div>

        <div class="row">

            <div class="col-sm-4"></div>
            <div style="padding:30px; border-radius:10px;" class="col-sm-4  bg-light">
                <div class="card cardbody">
                    <h3 class="text-center">Sign In</h3>
                <hr>
                    {% if msg %}<p style="font-size:7; color:red;padding:10px;">{{ msg }}</p>{% endif %}
                <form action="{% url 'sign_in'%}" method="post" style="padding:10px;">
                    {% csrf_token %}
                    <input type="text" class="form-group form-control" name="username" placeholder="Username">
                    <input type="password" class="form-group form-control" name="password" placeholder="Password">
                    <button class=" btn btn-block btn-outline-success">Sign In</button>
                </form>
                <a href="#" class="text-center text-primary float-right">Forgot Password?</a>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
{% endblock %}